<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .boxes{
            width: 120px;
            height: 120px;
            border: 1px solid black;
            margin: 15px 15px 15px 15px;
        }

        .rows{
            display: inline-flex;
        }
    </style>
    <title>Playground</title>
</head>
<body>
    <div>
        <h1>Welcome!</h1>
    </div>
    
    <div class="rows">
    
        {% for i in range(0,num) %}
        <div class="boxes" style ="background-color: {{color}};"></div>
        {% endfor %}
        
    </div>    
</body>
</html>