<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>User</title>
</head>
<body>
    <h1 class="text-center">User {{id.id}}</h1>

    <div class="text-center">
        <h2>Full Name: {{id.first_name}} {{id.last_name}}</h2>
        <h2>Email: {{id.email}}</h2>
        <a href="/user/edit/{{id.id}}" class=" btn btn-primary btn-sm text-center h-100 align-items-center justify-content-center" >Edit</a>
        <a href="/delete/{{id.id}}" class=" btn btn-primary btn-sm text-center h-100 align-items-center justify-content-center" >Delete</a>
    </div>
    
</body>
</html>